
<!doctype html>
<html lang="en">
  <head>
  	<title>Design System Cards</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->

<!-- This is the link to the toggle hamburger -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>
  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only"></span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
		<div class="p-4 pt-6">
      <a href="../index.html" class="logo">
        <img class="mb-4" alt="Derek Lopez Logo" src="../img/favicon.png" width="100%">
      </a>

	       <ul class="list-unstyled components">
	     
	          <li class="active">
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li>
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="component1.html">Nav Bars</a>
                </li>
                <li>
                    <a href="#">Cards</a>
                </li>
                <li>
                    <a href="component3.html">Footers</a>
                </li>
              </ul>
	          </li>

	          <li>
              <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
              <ul class="collapse list-unstyled" id="PatternsSubmenu">
                 <li>
                    <a href="../patterns/pattern1.html">Homepage</a>
                </li>
                <li>
                    <a href="../patterns/pattern2.html">Recent Projects</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h2>Cards</h2>
              <p>Cards represent a majority of the content in the site,displaying  completed projects. 
                They include the title and a preview image. Cards are responsive and can be found suited for three different form screen sizes:desktop, tablet, phone. 
                Below is the example of card suited for mobile.</p>
              <h3>Examples</h3>
              <h4>Phone Card</h4>
             
              <div class="card text-center" style="max-width: 18rem;">
                <div class="card-header">Project Title</div>
                <div class="card-body">
                   <p>Project discriptions </p>
                   <p></p>
                   <a href="#" class="btn btn-primary">View Project</a>
                </div>
              </div>
              <hr class="line">

              <h3>Code</h3>
              <pre class="language-markup">
                <code class="language-markup">
                  <h3>Card 1: Mobile</h3>
                  &lt;div class="card text-center" style="max-width: 18rem;">
                    &lt;div class="card-header">Project Title&lt;/div>
                    &lt;div class="card-body">
                       &lt;p>Project discriptions &lt;/p>
                       &lt;p>&lt;/p>
                       &lt;a href="#" class="btn btn-primary">View Project</a>
                    &lt;/div>
                  &lt;div>
                  </code>
              </pre><!-- Code example --> 
              <h3>Accessibility</h3>
        <p>Text within cards passes contrast checks.</p>
        <p>Button function as a Hyperlink to the project</p>
        <p>Text remains at appropriate size for legibility even on smaller screen spaces (follow listed style guides).</p>              
</div>
</div>
</div>
    <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>